<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>EZBingo</title>
</head>
<body id="index-body">
<div class="container">
    <h2>Testing, testing, 1 2 3</h2>
</div>
    
    <table>
        <head>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </head>
        <tbody>
            {% if not users %} 
                (% for x in users %)
                <td>{{ x.first_name }}</td>
                <td>{{ x.last_name }}</td>
                <td>{{ x.email }}</td>
                (% endfor %)
            {% endif %}

            (% for y in allusers %)
            <td>{{ y.first_name }}</td>
            <td>{{ y.last_name }}</td>
            <td>{{ y.email }}</td>
            (% endfor %)
        </tbody>
    </table>
          
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>
</body>
</html>